.carousel-control-next,
.carousel-control-prev {
    display: none;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e2d8d8;
    border: none;
    margin: 16px 3px;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.carousel-indicators .active {

    border-radius: 10px;

    opacity: 1;

    background-color: #b12626;
}